@page "/admin"

<div class="container pt-3">
    <AuthorizeView Roles="Administrator" Context="authorizeContext">
        <NotAuthorized>
            <p>You are not authorized to view this page. Please <NavLink href="login?returnPage=admin">login</NavLink>.</p>
        </NotAuthorized>
        <Authorized>
            <div class="card rounded-0">
                <div class="card-header text-white rounded-0" style="background-color: #3585cc">
                    <h2 id="btn-person-add-open" class="fs-4 mb-0" @onclick="(() => _addPersonOpen = !_addPersonOpen)" data-bs-toggle="collapse" data-bs-target="#form-expand" aria-controls="form-expand" style="cursor: pointer">
                        New Person <i class="@($"fs-6 bi {(!_addPersonOpen ? "bi-plus-circle" : "bi-dash-circle")}")"></i>
                    </h2>
                </div>
                <div id="form-expand" class="collapse card-body">
                    <EditForm Model="_newPerson" OnValidSubmit="HandleSubmit">
                        <div class="container-fluid">

                            <DataAnnotationsValidator />

                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="nameInput" class="form-label">Name</label><span class="text-danger">*</span>
                                    <InputText id="nameInput" class="form-control" @bind-Value="_newPerson.Name" />
                                    <ValidationMessage For="@(() => _newPerson.Name)" />
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="birthdateInput" class="form-label">Birthdate</label><span class="text-danger">*</span>
                                    <InputDate id="birthdateInput" class="form-control" @bind-Value="_newPerson.Birthdate" />
                                    <ValidationMessage For="@(() => _newPerson.Birthdate)" />
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="shirtSizeInput" class="form-label">Shirt Size</label><span class="text-danger">*</span>
                                    <InputSelect id="shirtSizeInput" class="form-select" @bind-Value="_newPerson.ShirtSizeId">
                                        <option value="">Select Size</option>
                                        @if (_shirtSizes is not null)
                                        {
                                            foreach (var size in _shirtSizes)
                                            {
                                                <option value="@size.Key">@size.Value</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => _newPerson.ShirtSizeId)" />
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="favoriteFoodInput" class="form-label">Favorite Food</label>
                                    <InputText id="favoriteFoodInput" class="form-control" @bind-Value="_newPerson.FavoriteFood" />
                                    <ValidationMessage For="@(() => _newPerson.FavoriteFood)" />
                                </div>
                                <div class="mb-3 col-12">
                                    <label for="selfDescriptionInput" class="form-label">Describe Yourself (100 characters max)</label><span class="text-danger">*</span>
                                    <InputTextArea id="selfDescriptionInput" class="form-control" @bind-Value="_newPerson.SelfDescription" />
                                    <ValidationMessage For="@(() => _newPerson.SelfDescription)" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-secondary">Save Person</button>
                        </div>
                    </EditForm>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-sm-8 col-12 mt-3">
                    <span><b>Current People</b></span>
                </div>
                <div class="col-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Birthdate</th>
                                <th>Shirt Size</th>
                                <th>Favorite Food</th>
                                <th>Self Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var person in _people)
                            {
                                <tr>
                                    <td>@person.Name</td>
                                    <td>@(((DateTime)person.Birthdate).ToString("MM/dd/yyyy"))</td>
                                    <td>@_shirtSizes.Single(x => x.Key == person.ShirtSizeId).Value</td>
                                    <td>@person.FavoriteFood</td>
                                    <td>@person.SelfDescription</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

<Modal Title="Person Added!" Body="Person successfully added to the list of people." />