@page "/life"

<PageTitle>Life</PageTitle>

<style>
    /* body {
        background-color: #343a40;
    } */
    .cell {
        width: 1%;
        height: 15px;
        border: 1px solid #ced4da;
        float: left;
    }
    .fill {
        background-color: #ced4da;
    }
</style>

<div class="container-fluid">
    <div class="row py-3 align-items-center fs-5">
        <div class="col-12 text-white mb-2">
            Select grid cells to set the initial population or select a template.
        </div>
        <div class="col-auto">
            <select class="form-select mr-2" @onchange="TemplateChanged">
                <option value="">Templates</option>
                @foreach (string template in _presetGrids)
                {
                    <option value="@template">@template</option>
                }
            </select>
        </div>
        <div class="col-auto" style="cursor: pointer">
            <span @onclick="Play" class="d-inline-block pr-2 fs-3"><i class="@($"bi {_playIconClass}")"></i></span>
            <span @onclick="() => _isPlaying = false" class="d-inline-block pr-2 fs-3"><i class="@($"bi {_stopIconClass}")"></i></span>
            <span @onclick="OnInitializedAsync" class="d-inline-block pr-2 fs-3"><i class="bi bi-arrow-left text-white"></i></span>
        </div>
        <div class="col-auto fs-6">
            <label class="mr-2 text-white form-text">Population: @_population</label>
        </div>
        <div class="col-auto fs-6">
            <label class="mr-2 text-white form-text">Cycle: @_iteration</label>
        </div>
    </div>
    @for (int i = 0; i < _cells.GetLength(0); i++)
    {
        for (int j = 0; j < _cells.GetLength(1); j++)
        {
            string fill = _cells[i, j] ? "fill" : "";
            int rowIndex = i;
            int columnIndex = j;

            <div class="@($"cell {fill}")" @onclick="() => Flip(rowIndex, columnIndex)" data-row-index="@i" data-column-index="@j"></div>
        }
    }
</div>
